html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {
  width: 200px;
  height: 200px;
  margin: auto;
  text-align: center;
  line-height: 9;
  font-size: 1.125rem; /* rem value is depands on the value of the default value for font-size, it is 16px, so 1.125 * 16px = 18px */
  color: white;
  text-shadow: 1px 1px 2px black;
  background-color: red;
  border-radius: 20px;
  border: 1px solid orange;
  background: linear-gradient(to bottom right, transparent, black(0.2)30%, black(0.2)100%);
  box-shadow: 2px 2px 5px black, inset 2px 2px 2px white(0.5), inset -2px -2px 2px black(0.5);
}